{% extends 'base.html' %}

{% block titulo_pagina %} Lista de Movimientos {% endblock %}

{% block contenido_pagina %}
        <h1>Lista de Movimientos</h1>
            <table class="paper">
                <tr>
                    <th class="cabeceraTabla">Fecha</th>
                    <th class="cabeceraTabla">Concepto</th>
                    <th class="cabeceraTabla">Ingreso / Gasto</th>
                    <th class="cabeceraTabla">Cantidad</th>
                </tr>
                {% for item in items %}
                <tr>
                    <td>{{ item.fecha }}</td>
                    <td>{{ item.concepto }}</td>
                    <td>{% if item.ingreso_gasto == 'I' %} Ingreso 
                        {% else %} Gasto 
                        {% endif %}</td>
                    <td>{{ item.cantidad }}€</td>
                </tr>
                {% endfor %}
            </table>
{% endblock %}